<div class="container text-center air">
  <h1>Nuevo ToDo</h1>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(model: @todo, local: true) do |f| %>
      <div class="field">
        <%= f.label :description, "Descripcion" %>
        <%= f.text_field :description, class: 'form-control air' %>
        <%= f.label :completed, "Completado?  " %>
        <%= f.check_box :completed %>
      </div><br>
      <div class="actions">
        <%= f.submit "Enviar", class: 'btn btn-success form-control' %>
      </div>
    <% end %>
  </div>
</div>
