<%- @todos.each do |todo| %>
  <div class="well" style="background-color:<%= 'lightgreen' if todo.completed %>">
    <div class="row">
      <div class="col-md-8">
        <%= todo.description %>
      </div>
      <div class="col-md-1">
        <% unless todo.completed %>
          <%= link_to 'Listo', complete_todo_path(todo), class:'btn btn-success button' %>
        <% end %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Mostrar', todo, class:'btn btn-primary button' %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Editar', edit_todo_path(todo), class:'btn btn-warning button' %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Borrar', todo, method: :delete, class:'btn btn-danger button' %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to "Crear ToDo", new_todo_path, class: 'btn btn-success btn-block' %>
