<%- @todos.each do |todo| %>
  <div class="well" style="background-color:<%= 'lightgreen' if todo.completed %>">
    <div class="row">
      <div class="col-md-8">
        <%= todo.description %>
      </div>
      <% unless todo.completed %>
        <div class="col-md-1">
          <%= link_to 'Completar', complete_todo_path(todo), class:'btn btn-success' %>
        </div>
      <% end %>
      <div class="col-md-1">
        <%= link_to 'Mostrar', todo, class:'btn btn-primary form-control' %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Editar', edit_todo_path(todo), class:'btn btn-warning form-control' %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Borrar', todo, method: :delete, class:'btn btn-danger form-control' %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to "Crear ToDo", todos_new_path, class: "btn btn-success form-control" %>
